@model List<Pinch.Models.Recipe>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-sm-12 text-right"><a href="@Url.RouteUrl("RecipeCreate")" class="btn btn-success">Add a Recipe</a></div>
</div>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Recipe in Model)
        {
            <tr>
                <td>@Recipe.Name</td>
                <td>@Recipe.Description</td>
                <td>
                    <a href="@Url.RouteUrl("RecipeDetails", new { id = Recipe.Id })" class="btn btn-success">Details</a>
                    <a href="@Url.RouteUrl("EditRecipeIngredient", new { recipeId = Recipe.Id })" class="btn btn-success">Add Ingredients</a>
                    <a href="@Url.RouteUrl("Editinstructions", new { recipeId = Recipe.Id })" class="btn btn-success">Add Instructions</a>
                    <a href="@Url.RouteUrl("RecipeDelete", new { id = Recipe.Id })" class="btn btn-success">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

